*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{overflow: hidden;}

/************************Landing page*/ 

/*Navigation bar*/

nav{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    white-space:nowrap;
    cursor: default;
    z-index:9;
    background-color: transparent;
}

.navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 1.5rem;
    font-family:'Jost';
    animation: introfadein 5s;
}

.navlist a{
    text-decoration: none;
    color:black;
    z-index:10;
}

/*Background characteristics*/
.container{
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
}

#home{
    height: 100vh;
    width:100%;
    position:relative;
    background: #E3E3E3;

}

@media screen and (min-width: 760px){

    #name{
        position:relative;
        top:20%;
        font-size: 7rem;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: nameanime 1s steps(12,end) 0.5s 1 normal both;
        animation-delay:.2s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
    }
    
    @keyframes nameanime{
        from{width: 0;}
        to{width: 740px;}
      }
    
    #role{
        position:relative;
        top:17%;
        font-size: 2.7rem;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: roleanime 1.5s steps(15,end) 0.5s 1 normal both;
        animation-delay:1.4s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
    }
    @keyframes roleanime{
        from{width: 0;}
        to{width: 726px;}
      }}

      @media screen and (max-width: 760px){

        #name{
            position:relative;
            top:25%;
            font-size: 13.2vw;
            font-family:'Jost';
            font-weight: normal;
            margin-right:0;
            cursor: default;
            animation: nameanime 1s steps(12,end) 0.5s 1 normal both;
            animation-delay:.2s;
            white-space:nowrap;
            overflow:hidden;
            margin:0 auto;
            padding-left: 5%;
            
        }
        
        @keyframes nameanime{
            from{width: 0px;}
            to{width: 740px;}
          }
        
        #role{
            position:relative;
            top:22%;
            font-size: 5.2vw;
            font-family:'Jost';
            font-weight: normal;
            margin-right:0;
            cursor: default;
            animation: roleanime 1.5s steps(15,end) 0.5s 1 normal both;
            animation-delay:1.4s;
            white-space:nowrap;
            overflow:hidden;
            margin:0 auto;
            padding-left:5%;
            
        }
        @keyframes roleanime{
            from{width: 0;}
            to{width: 726px;}
          }}

.arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    animation: introfadein 5s, arrowbounce 2s infinite 3s;
  }

.arrow:before {
      position: absolute;
      top: calc(50% - 11.5px);
      left: calc(50% - 8.5px);
      transform: rotate(-45deg);
      display: block;
      width: 15px;
      height: 15px;
      content: "";
      border: 2px solid black;
      border-width: 0px 0 2px 2px;
  }

@keyframes arrowbounce {
      0%, 40%, 80%, 100%
      {transform:translateY(0)}
      60%
      {transform: translateY(-25px)}
      90%
      {transform: translateY(-5px)}}

@keyframes introfadein{
    0%{opacity:0}
    50%{opacity: 0}
    100%{opacity: 1}
}


#intro{
    padding: 0% 10%;
    background: #f8f8f8;
    margin-left:1%;
    margin-right:1%;
}


 #research{
    padding: 0% 10%;
    background: #f8f8f8;
    margin:1%;
}

 #intro_text{
    height:100vh;
    width: 100%;
    display:flex;
    align-items: center;
    font-family:'Jost';
    font-size: 3rem;
    cursor:default
 }   

 #research_text{
    height:100vh;
    width: 100%;
    display:flex;
    align-items: center;
    font-family:'Jost';
    font-size: 3rem;
    cursor:default
 }   



 @media screen and (max-width:1050px){
    #intro{
        padding: 10% 10%;
        height:auto;
    }
    #about_text{
        height:auto;
        font-size:3rem
     }}   

     @media screen and (max-width:1050px){
        #about{
            padding: 10% 10%;
            height:auto;
        }
        #intro_text{
            height:auto;
            font-size:3rem
         }
         #research{
            padding: 10% 10%;
            height:auto;
        }
        #research_text{
            height:auto;
            font-size:3rem
        }}
        


.space{
    width:100%;
    height:2%;
}

#intro2{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.gifs{width:110px; height:60px; object-fit: cover; border-radius: 10%;}

#CV{
    width:500px;
    height:500px;
    background: #f8f8f8;
    flex-grow:1;
    margin-left:1%;
    margin-bottom:1%;
    margin-right:1%;
    position:relative;
}

#GS{
    width:500px;
    height:500px;
    background: #f8f8f8;
    flex-grow:1;
    margin-right:1%;
    margin-bottom:1%;
    position: relative;
}

#CVtext{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: 'Jost';
    color:black;
    font-size:2rem;
}

#GStext{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: 'Jost';
    color:black;
    font-size:2rem;
}

#CV:hover{
    background: #f0f0f0;
}
#GS:hover{
    background: #f0f0f0;
}

#CVlink{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#GSlink{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.footer{
    width:100%;
    height:25vh;
    background-color: #303030;
    overflow:hidden;
}

#footerlogo{
    font-family: 'Jost';
    font-size:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#E0DEDE;
    height:100%;
}

#footertext{
    font-size:1rem;
}

/***********************************************ABOUT PAGE*/


#background{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

#education{
    width:500px;
    height:500px;
    background: #f8f8f8;
    flex-grow:1;
    margin-left:1%;
    margin-bottom:1%;
    margin-right:1%;
    position: relative;
}

#rationale{
    width:500px;
    height:500px;
    background: #f8f8f8;;
    flex-grow:1;
    position: relative;
    margin-right:1%;

}

#educationtext{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: 'Jost';
    color:black;
    font-size:2rem;
    cursor:default;

}

#rationaletext{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: 'Jost';
    color:black;
    font-size:2rem;
    cursor:default;

}

#rationalelink{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#educationlink{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#education:hover {
    background: #f0f0f0;
}

#rationale:hover {
    background: #f0f0f0;
}

@media screen and (max-width:1050px){
    #education{
        margin-bottom:0%;
        margin-left:1%;
        margin-top: 1%;
    }
    #rationale{
        margin-left:1%;
        margin-bottom:1%;
        margin-top:1%
    }
    #GS{
        margin-left:1%;
    }
    }


