*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

#body{
    background: #000000;
overflow: scroll;
}

body::-webkit-scrollbar {
          display: none;
      }
      

      body {
        scrollbar-width: none; 
        -ms-overflow-style: none;  
      }



/************************HOME PAGE*/ 


/*Navigation bar*/

nav{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    white-space:nowrap;
    cursor: default;
    z-index:9;
    transition: transform 2s;
    background-color: rgba(0,0,0,.75)
}

#second nav{
    background-color: rgba(243,238,231,.75)
}

#third nav{
    background-color: rgba(243,238,231,.75)
}

#fourth nav{
    background-color: rgba(243,238,231,.75)
}

.nav--hidden{
    transform: translateY(-200%) translateX(-50%)
}

 #main .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 2rem;
    font-family:'Jost';
    animation: introfadein 3s;
}

#main .navlist a{
    text-decoration: none;
    color: #B4975A;
    z-index:10
}

#second .navlist a{
    text-decoration: none;
    color: #000000;
    z-index:10
}

#third .navlist a{
    text-decoration: none;
    color: #000000;
    z-index:10
}

#fourth .navlist a{
    text-decoration: none;
    color: #000000;
    z-index:10
}

 #second .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 2rem;
    font-family:'Jost';
}

#third .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 2rem;
    font-family:'Jost';
}

#fourth .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 2rem;
    font-family:'Jost';
}

/*Background characteristics*/

.container{
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
}

#main #home{
    height: 100vh;
    width:100%;
    position:relative;
background-color: #000000;


}


#second #home{
        height: 5%;
        width:100%;
        position:relative;
    background-color: #F3EEE7;
    
    }

    #third #home{
        height: 5%;
        width:100%;
        position:relative;
        background-color: #F3EEE7;}

        #fourth #home{
            height: 5%;
            width:100%;
            position:relative;
            background-color: #F3EEE7;

        }

    #name{
        position:relative;
        top:25vh;
        font-size: 8vw;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: nameanime 1.2s steps(12,end) 0.5s 1 normal both;
        animation-delay:.2s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
        color: #B4975A;
        text-align:center
    }
    
    @keyframes nameanime{
        from{width: 0;}
        to{width: 95%;}
      }
    
    #role{
        position:relative;
        top:22vh;
        font-size: 3.7vw;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: roleanime 1.4s steps(15,end) 0.5s 1 normal both;
        animation-delay:1.4s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
        color:#B4975A;
        text-align: center;
    }
    @keyframes roleanime{
        from{width: 0;}
        to{width: 95%;}
      }

@media screen and (orientation:portrait) { 

#role{
top:24vh}

#main .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 1rem;
    font-family:'Jost';
}

#second .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 1rem;
    font-family:'Jost';
}

#third .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 1rem;
    font-family:'Jost';
}

#fourth .navlist li{
    display:inline-block;
    list-style:none;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-size: 1rem;
    font-family:'Jost';
}

}

.arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    width: 40px;
    height: 40px;
    border: 2px solid #B4975A;
    border-radius: 50%;
    animation: introfadein 3s, arrowbounce 2s infinite 3s;
  }

.arrow::before {
      position: absolute;
      top: calc(50% - 11.5px);
      left: calc(50% - 8.5px);
      transform: rotate(-45deg);
      display: block;
      width: 15px;
      height: 15px;
      content: "";
      border: 2px solid #B4975A;
      border-width: 0px 0 2px 2px;
  }



@keyframes arrowbounce {
      0%, 40%, 80%, 100%
      {transform:translateY(0)}
      60%
      {transform: translateY(-25px)}
      90%
      {transform: translateY(-5px)}}

@keyframes introfadein{
    0%{opacity:0}
    50%{opacity: 0}
    100%{opacity: 1}
}


#intro{
    padding: 15% 15%;
    background: #000000;
    height:100%;
    display:flex;
    align-items: center;
}


#second #intro{

    background: #F3EEE7;

}

#third #intro{
    background: #F3EEE7;
}

#fourth #intro{
    background: #F3EEE7;
}


 #main #intro_text{
    font-family:'Jost';
    font-size: 4.5vh;
    cursor:default;
    text-align: left;
color:#B4975A}

#second #intro_text{
    font-family:'Jost';
    font-size: 3.5vh;
    cursor:default;
    text-align: left;
color:#000000}

#third #intro{
    font-family:'Jost';
    font-size: 3.5vh;
    cursor:default;
display: block;
margin:auto;
color:#000000}

#third #intro_text{
    font-family:'Jost';
    font-size: 3.5vh;
    cursor:default;
    text-align:center;
color:#000000}

#fourth #intro_text{
    font-family:'Jost';
    font-size: 3.5vh;
    cursor:default;
    text-align: left;
color:#000000}

 @media screen and (orientation:portrait) { 


    .navlist li{
        font-size: 4vw;
    }

    #intro{
        padding:15% 10%
    }

    #main #intro_text{
    font-size:3.5vw}

    #second #intro_text{
        font-size:3.5vw;

        
}

#fourth #intro_text{
    font-size:3.5vw;
}
.ftext{
    font-size:1rem
}

.ftext2{
    font-size:1rem
}
        
    }


footer{
    width:100%;
    height: 20vh;
    overflow: hidden;
    font-family:'Jost';
    padding-bottom: 20%;
    padding-top: 2.5%;
}

#main footer{
    background-color: #000000;
}

#second footer{
    background-color: #F3EEE7;
}

#third footer{
    background-color: #F3EEE7;
}

#fourth footer{
    background-color: #F3EEE7;
}


footer p {font-size:1.5rem;
}

#main .ftext{
    color: #B4975A
}

#main .ftext2{
    color: #B4975A;
    cursor:default
}

#second .ftext{
    color: #000000;
}

#third .ftext{
    color: #000000;
}

#fourth .ftext{
    color: #000000;
}




#contact{
float:left;
padding-left: 5%;
padding-top: 3%;
}

#address{
    float:right;
    padding-right: 5%;
    padding-top: 3%;
    text-align: right;
}


.aboutlink{
color: #000000;
}


*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


