*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

#body{
overflow: none;
}

body::-webkit-scrollbar {
          display: none;
      }
      

      body {
        scrollbar-width: none; 
        -ms-overflow-style: none;  
      }



/************************HOME PAGE*/ 


/*Navigation bar*/

nav{
    cursor: default;
    transition: transform 2s

}

.nav ul {
    list-style: none;
    text-align: center;
    padding-top: 20px;
    height:5%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: right;
    background-color: white;
}

#main .nav li{
    font-size: 1.25rem;
    font-family:'Jost';
    animation: introfadein 4.5s;
    height:5%;;
    display: inline;
    padding: 0% .75%;
}

@keyframes introfadein{
    0%{opacity:0}
50%{opacity: 0}
    100%{opacity: 1}
}

.nav li:first-child{
    height:5%;
    float: left;
    padding: 0% .75%;
}

#navname{
    font-family: 'Jost';
    font-size:1.5rem;
}

#second .nav li{
    font-size: 1.25rem;
    font-family:'Jost';
    height:5%;;
    display: inline;
    padding: 0% .75%;
}


#third .nav li{
    font-size: 1.25rem;
    font-family:'Jost';
    height:5%;;
    display: inline;
    padding: 0% .75%;
    
}

.nav li:nth-child(2) a{
    text-decoration: none;
    color:#C7C0B8;
    ;
}

.nav li:nth-child(3) a{
    text-decoration: none;
    color:#C7C0B8;
    ;
}
.nav li:nth-child(4) a{
    text-decoration: none;
    color:#C7C0B8;
    ;
}

.nav li:nth-child(1) a{
    text-decoration: none;
    color:black;
}

.nav li a:hover{
    color:black;
    transition: .25s;
}


#third .nav li:nth-child(2) a{
    color:black;
}

#second .nav li:nth-child(3) a{
    color:black;
}


/*Background characteristics*/

.container{
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}


#main .container{
    overflow: none;
}

#main #home{
height:100vh;
    width:100%;
    position:relative;
background-color: white
}


    #name{
        position:relative;
        top:21vh;
        font-size: 10vw;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: nameanime 1.2s steps(12,end) 1s 1 normal both;
        animation-delay:.2s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
        color: #000000;
        text-align:center;
    }
    
    @keyframes nameanime{
        from{width: 0;}
        to{width: 95%;}
      }
    
    #role{
        position:relative;
        top:19vh;
        font-size: 3.5vw;
        font-family:'Jost';
        font-weight: normal;
        margin-right:0;
        cursor: default;
        animation: roleanime 1.4s steps(15,end) 0.5s 1 normal both;
        animation-delay:1.4s;
        white-space:nowrap;
        overflow:hidden;
        margin:0 auto;
        color:#000000;
        text-align: center;

    }
    @keyframes roleanime{
        from{width: 0;}
        to{width: 95%;}
      }


@media screen and (orientation:portrait) { 

#role{
top:20vh}}


#intro{
    background: white;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:100%
}

#main #intro{
    height:125%;
}


#second #intro{
    background: white;
    transition: background .5s;
    font-size: 3.5vh;
    font-family: 'Jost';
    padding: 0% 15%;
    display:flex;
    flex-direction: row;
    height:100%;
}


#second #home{
    background-color: white;
}

#second #nav{
    transition: background .5s;
}

#second #intro_text{
    width:50%;
    aspect-ratio: 1/1;
    text-align: left;
    display:flex;
    align-items: center;
}

#second #hi{
font-size: 5vh;
animation: fadeIn 1.5s;
}

@keyframes fadeIn{
    0%{opacity:0;}
    30%{opacity:0;}
    100%{opacity:1;}
}

#second #hi2 {
    font-size:3.5vh;
    animation: fadeIn 1.5s;
}


#second #intro_image{
    width: 50%;
    aspect-ratio: 1/1;
    display:flex;
    justify-content: center;
    align-items: center;
    order:2;
}

#second #intro_img{
width:75%;
height:75%;
animation: fadeIn 1.5s;

}

#second #introdiv{
    height:75%;
    background: white;
    transition: background .5s;

}

#second #intro2{
    background: white;
    height:300%;
    display:flex;
    align-items: center;
    transition: background .5s;
    position:relative;

}


#second #intro2_text{
    padding: 0% 15%;
    color: white;
    font-family: 'Jost';
    font-size: 4.5vh;
    position: absolute;
    top:5%
}

#second #intro2_head{
    font-size:5vh;
}



@media screen and (orientation: portrait){

    #second .nav ul {
        padding-bottom: 15%;
    }

    #second #intro{
        transition: background .5s;
        font-size: 3.5vh;
        font-family: 'Jost';
        padding: 0% 15%;
        display:flex;
        flex-direction: column;
        height:100%;
    }
    
    #second #intro_text{
        width:100%;
        aspect-ratio: 1/1;
        text-align: left;
        display:flex;
        align-items: center;
        order:2;

    }
    

    
    #second #intro_image{
        width: 75%;
        aspect-ratio: 1/1;
        display:flex;
        justify-content: center;
        align-items: center;
        order:1;
    }
    
    #second #intro_img{
    width: 100%;
    height:100%;
    
    }
    
    #second #intro2{
        height:250%;
    }
    #second #intro2_text{
        padding: 0% 15%;
        color: white;
        font-family: 'Jost';
        font-size: 4vw;
        position: absolute;
        top:5%
    }
    
    #second #intro2_head{
        font-size:5.5vw;
    }
    
}


#worktitle{
    padding-bottom: 5%;
    font-family: 'Jost';
    font-size: 2vw;
    text-align: center;
}

#workintro{
    height:100%;
    display:flex;
    align-items: center;
    transition: background .5s;
text-align: center;
}

#workintro_soon{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
}

#workintro_text_title{
    font-size: 5vw;
    color:black;
    animation: fadeIn 1.5s;
}

#workintro_text{
    font-family: 'Jost';
    font-size:1.15vw;
    transition: opacity .5s;
    padding-left: 31%;
    padding-right: 31%;
    padding-bottom: 5%;
    animation: fadeIn 1.5s;

}



#third #workintro2{
    transition: background .5s
}

#third #workintro2{
    font-family:'Jost';
    display:display;
    font-size: 1.5vw;
    cursor:default;
    
}

.worklink{
    color:black;
}

.space2{
    height:10%;
}

#space23{
    height:100%;
    transition: background .5s;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

#space23_image_container{
    display:flex;
    justify-content:space-evenly;
}

.space23_image{
    display: flex;
    object-fit: contain;
    width:20%;
    aspect-ratio: 1/1;
}

.space_23_pics{
    border-radius: 20px;
}


#worktitle2{
    color:white;
    text-align: center;
padding-bottom: 5%;
font-family: 'Jost';
font-size: 2vw;

}


#space3{
        height:100%;
        transition: background .5s;

    }

.works{
    display:block;
    width:40%;
    aspect-ratio:100/45;
    text-align: left;


}

.worksdiv{
    height:7.5%;
    clear:both;
}

#p2{
   float: right;
}


.head{
    padding-top: 2%;

}

.head_title{
    display:flex;

}

.arrow{
    font-size: 2vw;
    padding-left: 1%;
    padding-top: 0%;

}

.head_desc{
    color:rgb(177, 177, 177);
    font-size: 1vw;

}

.pics{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
                    }



#space3{
    display:flex;
    justify-content: center;
    height:100%;
}

#space3contents{
display:flex;
justify-content: center;
align-items: center;
}


#space3text{
    color:black;
    text-align: center;
    font-family:'Jost';
    font-size: 3vh;
    display:flex;
}


 @media screen and (orientation:portrait) { 

    #main #intro{
        flex-direction: column;
        height:175%;
        padding:30% 5%;
    }
#main #intro_image{
    justify-content: center;
    width:100%;
    height:100%;
}
#main #intro_img
{width: 100%; height:100%}

    #main #intro_text{
        padding-right: 0%;
        text-align: center;
        width:80%;
        font-size: 5vw;

    }

    #second #intro_text{
        font-size:3vw;
}}


footer{
    width:100%;
    height: 25%;
    overflow: none;
    font-family:'Jost';
    padding-bottom: 15%;
    padding-top: 5%;
    z-index: 999
}

#main footer{
    background-color: black
}

#second footer{
    background-color: white;
    transition: background .5s;
}

#third footer{
    background-color: black;
}

#fourth footer{
    background-color: white;
}


footer p {font-size:1.25rem;
}

.ftext{
    color: white;
}

.ftext2{
    color: white;
    cursor:default
}



#contact{
float:left;
padding-left: 5%;
padding-top: 3%;
}

#address{
    float:right;
    padding-right: 5%;
    padding-top: 3%;
    text-align: right;
}


.aboutlink{
color: white
}

.aboutlink2{
    color:black;
}



*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


.hidden{
    opacity:0;
    transition: 1.25s;
    transition-delay: .1s;
}

.hidden4{
    opacity:0;
    transition: .5s;
    transition-delay: .1s;
}


#space23_image1.hidden3{
    transition: .5s;
    transition-delay: .3s;
}

#space23_image2.hidden3{
    transition: .5s;
    transition-delay: .6s;
}

#space23_image3.hidden3{
    transition: .5s;
    transition-delay: .9s;
}

#space23_image4.hidden3{
    transition: .5s;
    transition-delay: 1.2s;
}

.hidden3{
    opacity:0
}

.show3{
    opacity:1
}

.show4{
    opacity:1
}
.hidden2{
    opacity:0;

}


@keyframes run {
    0% {
      transform: translateX(35%) ;
    }
    100% {
      transform: translateX(40%) ;
    }
  }



.show{
    opacity:1;
}



@keyframes run2 {
    0% {
      transform: translateX(-35%);
    }
    100% {
      transform: translateX(-40%) ;
    }
  }

.show2{
    opacity:1;
    animation: run .75s;
    transition:1s;
    transform: translateX(40%);
    transition-delay: .2s;


}

  #p2.show2{
    opacity:1;
    transform:translate(-40%);
    animation: run2 .75s;
    transition:1s;
    transition-delay: .2s;
}





