* {
    margin: 0;
    padding: 0;
    user-select: none;
}


body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none;
  }

.back_arrow{
    position:absolute;
    padding-top: 48px;
    left: 50%;  
    transform: translateX(-50%) translateX(-230px); 
    justify-content: left;
    color:white;
    font-size:23px;
}


.infotext_box{
    width:400px;
}

.infotext{
    color:white;
    font-size: 16x;
    font-family: Jost;
    padding-bottom: 50px;
    padding-top: 50px;
}

.linkhome{
    position:absolute;
    height:100%;
    width:100%;

}